.smallfont {
  font-size: 0.6em;
}

.highlight {
    color: indianred;
}

/*change the font size of the title on the first slide*/
.title {
  font-size: 2.5em !important; /*important makes this first priority */
}


 
