.smallfont {
  font-size: 0.6em;
}

.highlight {
    color: indianred;
}

/*change the font size of the title on the first slide*/
.title {
  font-size: 1em !important; /*important makes this first priority */
}

.reveal h1 {
  font-size: 1em;
}


 
